@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin";
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Admin Home</h1>
    </div>
    <div class="col">
        <!-- Navigation Card -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Navigation</h6>
            </div>
            <div class="card-body">
                <!-- Navigation Buttons -->
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="AdminHome" asp-action="ShowPcCategories">
                    <i class="fas fa-user-shield fa-fw me-3"></i>PC Categories
                </a>
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="AdminHome" asp-action="ShowPcSeries">
                    <i class="fas fa-user-shield fa-fw me-3"></i>PC Series
                </a> <br>
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="AdminHome" asp-action="ShowConfigCasing">
                    <i class="fas fa-user-shield fa-fw me-3"></i>Config Casing
                </a>
            </div>
        </div>
    </div>
</body>
