@model List<eComMaster.Models.MasterData.PcCategory>

<h1>Pc Categories</h1>

@foreach (var category in Model)
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">PC_CATEGORY_ID: @category.PC_CATEGORY_ID</h5>
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">PC_CATEGORY_NAME: @category.PC_CATEGORY_NAME</h6>
            <p class="card-text">PC_CATEGORY_DESCRIPTION: @category.PC_CATEGORY_DESCRIPTION</p>
            <p class="card-text">PC_CATEGORY_STATUS: @category.PC_CATEGORY_STATUS</p>
        </div>
    </div>
}
