@model List<eComMaster.Models.MasterData.PcModel>
<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/Home">eComMaster</a>

            <a href="@Url.Action("Index", "Cart")" class="btn btn-outline-primary mx-2">Cart <span class="badge bg-secondary"></span></a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">


                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex ms-auto" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
    </nav>

    <div class="cart-item">

        <h3>Cart</h3>

        <script>if (typeof (Storage) !== "undefined" && sessionStorage.getItem('pcModel')) {
                var existingPcModel = JSON.parse(sessionStorage.getItem('pcModel'));
                var pcModel = JSON.parse(sessionStorage.getItem('pcModel'));
                if (existingPcModel != null) {
                    document.write("<p>ID: " + pcModel.id + "</p>");
                    document.write("<p>Name: " + pcModel.name + "</p>");
                    document.write("<p>Description: " + pcModel.description + "</p>");
                    document.write("<p>Price: " + pcModel.price + "</p>");
                    document.write("<p>Quantity: " + sessionStorage.getItem('cart_count') + "</p>");
                    document.write("<button onclick='removeFromCart()'>Remove from Cart</button>");
                }
                function removeFromCart() {
                    if (typeof (Storage) !== "undefined" && sessionStorage.getItem('pcModel')) {
                        var pcModel = JSON.parse(sessionStorage.getItem('pcModel'));
                        sessionStorage.removeItem('pcModel');
                        sessionStorage.removeItem('count_cart');
                        alert('PC model removed from cart!');
                        location.reload();
                    }
                }
            }</script>
        </div>

</body>
</html>
